<!doctype html>
<html lang='eng'>
    <head>
        <meta charset='utf-8'>
        <title>Home - Gladys Gist </title>
    </head>
    <body>
        <header>
        <h1><a href="/">Gladys Gist</a></h1>
        </header>
        <main>
            <h2>Latest Gists</h2>
            <p>There's nothing to see here vet!</p>
        </main>
        <footer>Povered by <a href="https://golang.org">Go</a></footer>
    </body>
</html>
